set tabstop=4
set number 
set background=dark
set autoindent              " automatically set indent of new line
set smartindent
set tabstop=4
set shiftwidth=4
set expandtab
set shell=sh
set colorcolumn=85          " highlight column 85
set textwidth=84
set completeopt-=preview


call plug#begin()
Plug 'Shougo/deoplete.nvim', { 'do': ':UpdateRemotePlugins' }
Plug 'lervag/vimtex'
Plug 'Shougo/neocomplete'
Plug 'Shougo/neosnippet'
Plug 'Shougo/neosnippet-snippets'
Plug 'Soares/base16.nvim'

Plug 'godlygeek/tabular'
Plug 'plasticboy/vim-markdown'
Plug 'airblade/vim-gitgutter'
Plug 'elzr/vim-json'
Plug 'preservim/nerdtree'
Plug 'drmingdrmer/vim-toggle-quickfix'
call plug#end()
"
let g:spellfile_URL = 'http://ftp.vim.org/vim/runtime/spell/'
let g:lexical#spelllang = [ 'de_de', ]
"
"" start deoplete (suggestions/completion)
let g:python3_host_prog = expand('/usr/bin/python')
let g:deoplete#enable_at_startup = 1
"


" LATEX
" let g:vimtex_
let g:latex_view_general_viewer = 'zathura'
let g:vimtex_quickfix_open_on_warning = 0
let g:vimtex_view_method = 'zathura'
let g:vimtex_quickfix_ignore_filters = [
    \'Underfull', 
    \'Overfull',
    \'specifier changed to',
    \'You have requested',
    \'Missing number, treated as zero.',
    \'There were undefined references',
    \'Citation %.%# undefined',
    \'Double space found.']

call deoplete#custom#var('omni', 'input_patterns', {
      \ 'tex': g:vimtex#re#deoplete
      \})

let g:vim_markdown_folding_disabled = 1

"" Plugin key-mappings.
"" Note: It must be "imap" and "smap".  It uses <Plug> mappings.
imap <C-k>     <Plug>(neosnippet_expand_or_jump)
smap <C-k>     <Plug>(neosnippet_expand_or_jump)
xmap <C-k>     <Plug>(neosnippet_expand_target)

map <C-h> :nohl <CR>
nmap <C-g><C-o> <Plug>window:quickfix:loop

nnoremap <C-n> :NERDTreeToggle<CR>
nnoremap <C-f> :NERDTreeFind<CR>
let g:NERDTreeQuitOnOpen = 1

